/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Header styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

/* Main section styling */
main {
    margin-top: 20px;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Project list styling */
.projects ul {
    padding-left: 20px;
}

.projects li {
    margin-bottom: 20px;
}

.projects a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.projects a:hover {
    text-decoration: underline;
}

/* Certification section styling */
.certifications img {
    display: block;
    margin-top: 10px;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #232121;
    color: white;
    margin-top: 20px;
    border-top: 5px solid ;
}

